@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

@import "tailwindcss";

@theme {
  /* 2. Map the fonts to Tailwind variables */
  --font-inter: "Inter", ui-sans-serif, system-ui;
  --font-roboto: "Roboto", sans-serif;
}

@layer utilities {
  /* Make the spinner container taller/wider for bigger arrows */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    width: 2.1rem;             /* Increase width */
    height: 2.1rem;            /* Increase height (makes arrows bigger) */
    opacity: 1;
  }
  /* Transparent selection on table cells themselves */
  table td::selection,
  table th::selection {
    background: transparent;
  }

  /* Normal (or custom) selection on the wrapped text */
  table span::selection {
    background: #acd5ff; /* Light blue, matches most browsers */
    color: #000;
  }

  /* Firefox support */
  table td::-moz-selection,
  table th::-moz-selection {
    background: transparent;
  }

  table span::-moz-selection {
    background: #acd5ff;
    color: #000;
  }

  /*Change*/
  #h-input option:checked{
    background-color: #e5e7eb; /* light gray (Tailwind gray-200) */
    color: #e5e7eb;
  }

  #h-input option:hover{
    background-color: #e5e7eb; /* light gray (Tailwind gray-200) */
    color: #e5e7eb;
  }
  /*
  select:hover{
    background-color: #e5e7eb;
  }
    */
}