[Desktop Entry]
Name=Subnet Calculator
Exec=subnet-calculator
Icon=subnet-calculator
Terminal=false
Type=Application
Categories=Utility;
StartupWMClass=subnet-calculator
